.otherbox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 76px);
    grid-template-areas: 
    "one one one two"
    "three four four five"
    "six six seven eight"
    "nine ten eleven eleven";

}
.otherbox div{
    border: 1px solid black;
}
.orange{
    background-color: orange;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.one{
    grid-area: one;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}